In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [155]:
dfx = pd.read_csv("msl_test.csv")
dfy = pd.read_csv("msl_test_label.csv")

In [156]:
dfy['0'].value_counts().reset_index()

   0  count
0  0  65963
1  1   7766

In [157]:
dfx

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,-0.946958,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-0.942278,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,-0.936037,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-0.923557,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-0.917317,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73724,0.499149,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73725,0.501221,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73726,0.501221,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73727,0.501221,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73728,-0.954212,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [158]:
zero_columns = dfx.columns[dfx.eq(0).all()]
zero_columns

Index(['1', '2', '3', '4', '8', '10', '18', '21', '22', '24', '26', '30', '32',
       '34', '36', '38', '40', '42', '44', '50', '52'],
      dtype='object')

In [159]:
dfx.isna().any().any()

False

In [160]:
dfx.reset_index(inplace=True)

In [161]:
dfx.drop(['index','1', '2', '3', '4', '8', '10', '18', '21', '22', '24', '26', '30', '32',
       '34', '36', '38', '40', '42', '44', '50', '52'], axis=1, inplace = True)

In [162]:
dfx['51'].value_counts().reset_index()

   51  count
0   0  73726
1   1      3

In [163]:
k  = []
for i in dfx.columns:
    k.append(dfx[i].value_counts().reset_index())
print(k)

[              0  count
0     -1.000000  14994
1     -0.999602   1840
2      1.000000   1521
3     -0.964286   1304
4     -0.892857   1181
...         ...    ...
23395  0.485331      1
23396  0.473866      1
23397  0.465248      1
23398  0.425606      1
23399 -0.954212      1

[23400 rows x 2 columns],    5  count
0  0  67996
1  1   5733,    6  count
0  0  73689
1  1     40,    7  count
0  0  73710
1  1     19,    9  count
0  0  73722
1  1      7,    11  count
0   0  71548
1   1   2181,    12  count
0   0  72693
1   1   1036,    13  count
0   0  72748
1   1    981,    14  count
0   0  72546
1   1   1183,    15  count
0   0  73682
1   1     47,    16  count
0   0  73668
1   1     61,    17  count
0   0  73726
1   1      3,    19  count
0   0  73444
1   1    285,    20  count
0   0  73693
1   1     36,    23  count
0   0  73725
1   1      4,    25  count
0   0  73726
1   1      3,    27  count
0   0  72663
1   1   1066,    28  count
0   0  73727
1   1      2,    29  count
0   0  73716
1   1     13,    31  count
0   0  73679
1   1     50,    33  count
0   0  71856
1   1   1873,    35  count
0   0  73332
1   1    397,    37  count
0   0  73718
1   1     11,    39  count
0   0  73450
1   1    279,    41  count
0   0  73663
1   1     66,    43  count
0   0  73606
1   1    123,    45  count
0   0  73714
1   1     15,    46  count
0   0  73728
1   1      1,    47  count
0   0  72926
1   1    803,    48  count
0   0  73719
1   1     10,    49  count
0   0  73119
1   1    610,    51  count
0   0  73726
1   1      3,    53  count
0   0  73618
1   1    111,    54  count
0   0  73602
1   1    127]

In [164]:
dfx.drop(['9','17','23','25','28','46','51'],axis=1,inplace=True)

In [165]:
dfx.columns

Index(['0', '5', '6', '7', '11', '12', '13', '14', '15', '16', '19', '20',
       '27', '29', '31', '33', '35', '37', '39', '41', '43', '45', '47', '48',
       '49', '53', '54'],
      dtype='object')

In [166]:
mean0 = []
mean1 = []
for x in dfx.columns:
    mean0.append(np.mean(dfx[str(x)][dfy["0"] == 0]))
    mean1.append(np.mean(dfx[str(x)][dfy["0"] == 1]))

In [167]:
median0 = []
median1 = []
for x in dfx.columns:
    median0.append(np.median(dfx[str(x)][dfy["0"] == 0]))
    median1.append(np.median(dfx[str(x)][dfy["0"] == 1]))

In [168]:
std0 = []
std1 = []
for x in dfx.columns:
    std0.append(np.std(dfx[str(x)][dfy["0"] == 0]))
    std1.append(np.std(dfx[str(x)][dfy["0"] == 1]))

In [169]:
def calculate_per_change(old_value, new_value):
    percentage_change = ((new_value - old_value) / old_value) * 100
    return percentage_change

In [170]:
per_mean01 = []
for i in range(len(std0)):
    per_mean01.append(calculate_per_change(mean0[i],mean1[i]))

In [171]:
per_mean10 = []
for i in range(len(std0)):
    per_mean10.append(calculate_per_change(mean1[i],mean0[i]))

In [172]:
per_std01 = []
for i in range(len(std0)):
    per_std01.append(calculate_per_change(std0[i],std1[i]))

In [173]:
per_std10 = []
for i in range(len(std0)):
    per_std10.append(calculate_per_change(std1[i],std0[i]))

In [174]:
per_median01 = []
for i in range(len(std0)):
    per_median01.append(calculate_per_change(median0[i],median1[i]))

C:\Users\Sharda Prasad Maurya.LAPTOP-4MVRVONI\AppData\Local\Temp\ipykernel_14504\3838705196.py:2: RuntimeWarning: invalid value encountered in double_scalars
  percentage_change = ((new_value - old_value) / old_value) * 100

In [175]:
per_median10 = []
for i in range(len(std0)):
    per_median10.append(calculate_per_change(median1[i],median0[i]))

C:\Users\Sharda Prasad Maurya.LAPTOP-4MVRVONI\AppData\Local\Temp\ipykernel_14504\3838705196.py:2: RuntimeWarning: invalid value encountered in double_scalars
  percentage_change = ((new_value - old_value) / old_value) * 100

### percentage change in mean, median, mode
printing the features which are most affecting the anomaly

In [176]:
per_mean01_features = []
per_std01_features = []
per_median01_features = []
per_mean10_features = []
per_std10_features = []
per_median10_features = []
for i in range(len(std0)):
    if (per_mean01[i]>=50):
        x= per_mean01[i]
        per_mean01_features.append(dfx.columns[i])
    if (per_std01[i]>=50):
        x= per_std01[i]
        per_std01_features.append(dfx.columns[i])

    if (per_median01[i]>=50):
        x= per_median01[i]
        per_median01_features.append(dfx.columns[i])

    if (per_mean10[i]>=50):
        x= per_mean10[i]
        per_mean10_features.append(dfx.columns[i])
    if (per_std10[i]>=50):
        x= per_std10[i]
        per_std10_features.append(dfx.columns[i])
    if (per_median10[i]>=50):
        x= per_median10[i]
        per_median10_features.append(dfx.columns[i])

print(per_mean01_features)
print(per_std01_features)
print(per_median01_features)
print(per_mean10_features)
print(per_std10_features)
print(per_median10_features)

['7', '15', '16', '19', '33', '35', '37', '41', '45', '48']
['0', '15', '16', '37', '41', '45']
[]
['6', '13', '14', '31', '39', '53']
['13', '14', '31', '39']
[]

## Point-Biserial Correlation

In [177]:
from scipy.stats import pointbiserialr

correlation_coefficients = {}

for column in dfx.columns:
    # Calculate the point-biserial correlation between the input variable and the anomaly indicator
    correlation, p_value = pointbiserialr(dfx[column], dfy['0'])
    
    correlation_coefficients[column] = correlation

sorted_correlation_coefficients = sorted(correlation_coefficients.items(), key=lambda x: abs(x[1]), reverse=True)

for variable, coefficient in sorted_correlation_coefficients:
    print(f"Variable: {variable}, Point-Biserial Correlation: {coefficient}")

Variable: 0, Point-Biserial Correlation: 0.14327607436750622
Variable: 33, Point-Biserial Correlation: 0.04007327698415802
Variable: 14, Point-Biserial Correlation: -0.03994817207840321
Variable: 13, Point-Biserial Correlation: -0.03791684212913098
Variable: 15, Point-Biserial Correlation: 0.02809434486236589
Variable: 37, Point-Biserial Correlation: 0.024748463246033317
Variable: 5, Point-Biserial Correlation: 0.0216356642661402
Variable: 11, Point-Biserial Correlation: 0.020932674969347715
Variable: 16, Point-Biserial Correlation: 0.020860152512357677
Variable: 39, Point-Biserial Correlation: -0.015390484837671786
Variable: 41, Point-Biserial Correlation: 0.01484489407216931
Variable: 35, Point-Biserial Correlation: 0.013996616468430333
Variable: 19, Point-Biserial Correlation: 0.0135143698352784
Variable: 12, Point-Biserial Correlation: 0.009713296723287398
Variable: 47, Point-Biserial Correlation: -0.00876121299170715
Variable: 27, Point-Biserial Correlation: 0.008408026931373287
Variable: 45, Point-Biserial Correlation: 0.007497019286753678
Variable: 31, Point-Biserial Correlation: -0.005544041451841987
Variable: 53, Point-Biserial Correlation: -0.005346592062148212
Variable: 6, Point-Biserial Correlation: -0.004199446297049798
Variable: 48, Point-Biserial Correlation: 0.0035917356731649396
Variable: 43, Point-Biserial Correlation: 0.003295746601301082
Variable: 7, Point-Biserial Correlation: 0.0027490560606476563
Variable: 20, Point-Biserial Correlation: 0.0024160911523000424
Variable: 29, Point-Biserial Correlation: -0.0012289387616390283
Variable: 49, Point-Biserial Correlation: 0.0008524501137627434
Variable: 54, Point-Biserial Correlation: -0.00040181610399426734

### variables which are the root cause for the anomaly

on performing EDA on the data set:  
the variable which are the root cause of the anomaly are: **0, 33, 14, 13, 15, 37, 16, 39, 41, 35**  
some other also are there: **11, 19, 45, 31**